<div class="well dialog" data-ng-init="isSaving=false">
	<div class="alert alert-danger" data-ng-hide="!errorMessage">
		<strong>{{'ERROR' | translate}}:</strong> {{errorMessage}}
	</div>
	<form class="form-horizontal" data-ng-submit="signin()">
		<div class="form-group">
			<label class="col-sm-5 control-label" for="username" data-translate="SIGNIN_EMAIL"></label>
			<div class="col-sm-5">
				<input type="text" name="username" class="form-control" data-ng-model="user.username" placeholder="{{'SIGNIN_EMAIL' | translate}}" data-auto-fill-sync>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-5 control-label" for="password" data-translate="SIGNIN_PASSWORD"></label>
			<div class="col-sm-5">
				<input type="password" name="password" class="form-control" data-ng-model="user.password"  placeholder="{{'SIGNIN_PASSWORD' | translate}}" data-auto-fill-sync>
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-offset-5 col-sm-5">
				<button type="submit" class="btn btn-default" data-ng-disabled="{{isSaving}}" data-translate="SIGNIN_SIGNIN"></button>
			</div>
		</div>
	</form>
</div>